
@{
    ViewBag.Title = "ViewSchedule";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>ViewSchedule</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 200px; height: 100px;">
                <div class="card-body text-center" style="padding: 10px;">
                    <b>9-10 AM</b> <br />
                    <b class="text-success">AIML III Year</b> <br />
                    <a href="@Url.Action("MarkAttendance" , "Dashboard")">Click here</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>11-11 AM</b>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>11-12 PM</b>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>12-1 PM</b>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>1-2 PM</b>
                    <p class="text-danger">LUNCH</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>2-3 PM</b>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>3-4 PM</b>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>4-5 PM</b>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 200px; height: 100px;">
                <div class="card-body" style="padding: 10px;">
                    <b>5-6 PM</b>
                </div>
            </div>
        </div>
    </div>
</div>




